.container {
    display: flex;          /* Flexbox per disporre gli elementi in verticale */
    flex-direction: column; /* Metti le immagini una sotto l'altra */
    padding-bottom: 0;

}

.image-text {
    position: relative;   /* Posizione relativa per poter posizionare il testo sopra */
}

.only-text {
    position: relative;
    height: 500px;
}

.image-text img {
    width: 100%;
    height: 500px;
    object-position: center;
    object-fit: cover;
}

.text {
    position: absolute;   /* Posiziona il testo sopra l'immagine */
    top: 50%;             /* Centra il testo verticalmente */
    left: 50%;            /* Centra il testo orizzontalmente */
    transform: translate(-50%, -50%); /* Corregge la posizione esatta */
    color: black;       /* Colore del testo (puoi cambiarlo a seconda dell'immagine) */
    font-size: 4rem;      /* Imposta la dimensione del testo (modifica come necessario) */
    font-weight: bold;    /* Imposta il testo in grassetto */
    text-align: center;   /* Centra il testo */
}